body  {
  background-color: #F0F1F3;
  font-family: 'Raleway', sans-serif;
  color: rgb (40,40,40)

}

.container {
  margin-left: 16px;
  margin-right: 16px;
}

.card {
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  margin: 32px;
  box-shadow: 0 10px 30px rgb(0,0,0,.1);

}

.img-circle {
  width: 200px;
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.btn-blue {
  background-color: #84DCC6;
  color: white;
  border: 1px solid transparent;
  padding: 16px;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.7s ease-in-out;
}

.btn-blue:hover{
  background-color: white;
  color: #84DCC6;
  border: 1px solid #84DCC6;
}

.navigation > li {
  display: inline-block;
  padding: 0px 20px;
}

.navigation  {
   padding: 0px;
   font-size: 24px;
}

.footer {
  padding: 8px;
}

.footer p {
  font-weight: bold;
  font-size: 24px;
  color: #84DCC6
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb (20,20,20)
}
h2 {
  font-size: 16px;
}

p {
  line-height: 24px;
}

a {
  text-decoration: none;
  color:#4B4E6D
}

a:hover {
  color: #95A3B3
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
